@font-face {
    font-family: 'quint-uppercase-font';
    src: url('fonts/quint-uppercase-font/quint-uppercase-font.woff') format('woff');
}

body{
    background: #28282B;
    /* background: linear-gradient(90deg, rgba(132,129,189,1) 0%, rgba(0,212,255,1) 0%, rgba(113,9,121,1) 76%); */
    font-family: quint-uppercase-font;
    color: white;
    
}
.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-container-height {
    margin-top: 15%;
    justify-content: center;
}
.inputurl{
    border-radius: 25px;
    text-align:center;
    width: 700px;
    height: 30px;
    font-family: inherit;
    font-size: inherit;
    /* margin-left: 5vh; */

}
.inputsubmit{
    display: block;
    margin-top: 20px;
    border-radius: 25px;
    width: 100px;
    height: 35px;
    color: white;
    background-color: #6B6B6B;
    border-color: transparent;
    font-family: inherit;
    cursor:pointer;
}
.inputsubmit:hover{
    background-color: #A2A2A2;
}
.inputredirect{
    margin-top: 20px;
    border-radius: 25px;
    width: 100px;
    height: 35px;
    color: white;
    background-color: #6B6B6B;
    border-color: transparent;
    font-family: inherit;
    cursor:pointer;
    display: none;
}
.inputredirect:hover{
    background-color: #A2A2A2;
}
.center-container-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: -5.25%;
}
.copybutton{
    display: block;
    margin-left: 20px;
    border-radius: 25px;
    width: 50px;
    height: 35px;
    color: white;
    background-color: #6B6B6B;
    /* background:url("icons/copy_icon.png"); */
    border-color: transparent;
    font-family: inherit;
    cursor:pointer;
    display: none;
}
.copybutton:hover{
    background-color: #A2A2A2
}
.outlinesize{
    height : 20px;
    width : 20px;
}