@font-face {
    font-family: 'quint-uppercase-font';
    src: url('fonts/quint-uppercase-font/quint-uppercase-font.woff') format('woff');
}

body{
    background: #28282B;
    /* background: linear-gradient(90deg, rgba(132,129,189,1) 0%, rgba(0,212,255,1) 0%, rgba(113,9,121,1) 76%); */
    font-family: quint-uppercase-font;
    color: white;
    
}
.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-container-height {
    margin-top: 15%;
    justify-content: center;
}
.inputurl{
    display:block;
    border-radius: 25px;
    text-align:center;
    width: 700px;
    height: 30px;
    font-family: inherit;
    font-size: inherit;
    /* margin-left: 5vh; */

}
.inputsubmit{
    display: block;
    margin-top: 20px;
    border-radius: 25px;
    width: 100px;
    height: 35px;
    color: white;
    background-color: #6B6B6B;
    border-color: transparent;
    font-family: inherit;
    cursor:pointer;
}
.inputsubmit:hover{
    background-color: #A2A2A2;
}
.inputredirect{
    margin-top: 20px;
    border-radius: 25px;
    width: 100px;
    height: 35px;
    color: white;
    background-color: #6B6B6B;
    border-color: transparent;
    font-family: inherit;
    cursor:pointer;
    display: none;
}
.inputredirect:hover{
    background-color: #A2A2A2;
}
.center-container-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: -5.25%;
}
.copybutton{
    display: block;
    margin-left: 20px;
    border-radius: 25px;
    width: 50px;
    height: 35px;
    color: white;
    background-color: #6B6B6B;
    /* background:url("icons/copy_icon.png"); */
    border-color: transparent;
    font-family: inherit;
    cursor:pointer;
    display: none;
}
.copybutton:hover{
    background-color: #A2A2A2
}
.outlinesize{
    height : 20px;
    width : 20px;
}
.card{
    display:none;
    background-color: #6B6B6B;
    margin-top: 10%;
    width : 40%;
    height: 50px;
    border-radius: 25px;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    cursor:pointer;

}
.headingcard{
    display:none;
    margin-top: 10%;
    width : 10%;
    height: 50px;
    margin-right: 10px;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
.datecard{
    display:none;
    margin-top: 10%;
    width : 10%;
    height: 50px;
    margin-left: 10px;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
.wave {
    display:block;
    width: 5px;
    height: 100px;
    background: #A2A2A2;
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
