body{
    background: rgb(132,129,189);
    background: linear-gradient(90deg, rgba(132,129,189,1) 0%, rgba(0,212,255,1) 0%, rgba(113,9,121,1) 76%);
    font-family: Monaco, Monospace;
    color: white;
    
}
.center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center-container-height {
    margin-top: 15%;
}
.inputurl{
    text-align:center;
    width: 550px;
    height: 30px;
    font-family: inherit;
    font-size: inherit;

}