body{
    background: rgb(132,129,189);
    background: linear-gradient(90deg, rgba(132,129,189,1) 0%, rgba(0,212,255,1) 0%, rgba(113,9,121,1) 76%);
    font-family: Monaco, Monospace;
    color: white;
    
}
.center-container{
    position:absolute;
    width:100px;
    height:00px;
    left: 47.5%;
    right: 52.5%;
    top:40%;
    margin-left:-50px;
    margin-top:-50px;
}
.center-container h1{
    text-align:center;
    white-space:nowrap
}